@using System.Web.UI.WebControls
@model TH.Domain.Other.Team

@{
    ViewBag.Title = "View Team";
}

@Html.ActionLink("Back to Dashboard", "Index", "Consultant", new { @class = "button" })
<h1>Your Team</h1>

@if (Model.Doctors.Any())
{ 
    <table class="table">
        <tr>
            <th>Firstname</th>
            <th>Surname</th>
            <th></th>
        </tr>
        @foreach (var doctor in Model.Doctors)
        {
            <tr>
                <td>@doctor.Firstname</td>
                <td>@doctor.LastName</td>
                <td>
                    @Html.ActionLink("Remove", "RemoveDoctor", new { doctorId = doctor.UserId, teamId = Model.TeamId })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="empty">
        @Html.Raw("No Doctors on your team")
    </div>
}