@model TH.WebSystem.Models.PatientDetailsModel

<h1>Patient Record - @Html.Raw(string.Format("{0} {1}", Model.Patient.FirstName, Model.Patient.LastName))</h1>
<hr />

<table style="float:left; margin: 0 100px 10px 0;">
    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.DateCreated)</td>
        <td>@Html.DisplayFor(model => Model.Patient.DateCreated)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.FirstName)</td>
        <td>@Html.DisplayFor(model => Model.Patient.FirstName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.OtherNames)</td>
        <td>@Html.DisplayFor(model => Model.Patient.OtherNames)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.LastName)</td>
        <td>@Html.DisplayFor(model => Model.Patient.LastName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.DateOfBirth)</td>
        <td>@Html.DisplayFor(model => Model.Patient.DateOfBirth)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.Gender)</td>
        <td>@Html.DisplayFor(model => Model.Patient.Gender)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.ContactNumber)</td>
        <td>@Html.DisplayFor(model => Model.Patient.ContactNumber)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.EmergencyContactName)</td>
        <td>@Html.DisplayFor(model => Model.Patient.EmergencyContactName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => Model.Patient.EmergencyContactNumber)</td>
        <td>@Html.DisplayFor(model => Model.Patient.EmergencyContactNumber)</td>
    </tr>
</table>

<h4 style="margin-top:12px;">Addresses</h4>     
<table style="border-spacing: 0;">
    @foreach (var address in Model.Patient.Addresses)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => address.AddressLine1)</td>
        </tr>
            
        <tr>
            <td></td>   
            <td>@Html.DisplayFor(model => address.AddressLine2)</td>
        </tr>

        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => address.AddressLine3)</td>
        </tr>

        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => address.City)</td>
        </tr>
            
        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => address.PostCode)</td>
        </tr>
        <tr></tr>
    }
</table>

<h4 style="clear: both;">Visits</h4>
@if (Model.Patient.Visits.Count > 0)
{
    <table class="table" width="100%">
        <tr>
            <th>Admitted Date</th>
            <th>Release Date</th>
            <th>Team Consultants</th>
            <th>Options</th>
        </tr>
        @foreach (var visit in Model.Patient.Visits.OrderBy(o => o.AdmittedDate))
        {
            <tr>
                <td>@Html.DisplayFor(model => visit.AdmittedDate)</td>
                <td>@if(visit.ReleaseDate != null){@Html.DisplayFor(model => visit.ReleaseDate)}else{@Html.Raw("Not released")}</td>
                <td>@string.Join(",", visit.Teams.Select(t => t.Consultant.FullName))</td>
                <td>@Html.ActionLink("Details", "Details", "Visit", new { id = visit.VisitId }, null)</td>
            </tr>
        }
    </table>
}
else
{
    @Html.Raw("No visits for patient");
}

<h4>Notes</h4>
@if (Model.Patient.Notes.Count > 0)
{
    <table class="table" width="100%">
        <tr>
            <th>Date created</th>
            <th>Content</th>
        </tr>
        @foreach (var note in Model.Patient.Notes.OrderBy(o => o.DateCreated))
        {
            <tr>
                <td style="width:180px">@Html.DisplayFor(model => note.DateCreated)</td>
                <td>@Html.DisplayFor(model => note.Content)</td>
            </tr>
        }
    </table>
    
    <p>
        <button>@Html.ActionLink("Create new note", "createNote", new { id = Model.Patient.UserId })</button>
    </p>
}
else
{
    @Html.Raw("No notes for patient. You can create a new note ");
    @Html.ActionLink("here", "createNote", new { id = Model.Patient.UserId})
}
