@model TH.WebSystem.Models.PatientDetailsModel

<h1>Patient Record - @Html.Raw(string.Format("{0} {1}", Model.Patient.Firstname, Model.Patient.LastName))</h1>

@if (!Model.HasOpenVisit)
{
    @Html.ActionLink("Admit", "Admit", "Patient", new { id = Model.Patient.UserId }, null)
}

<div class="form-horizontal patient-view">
    <h4>Patient Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.Patient.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.OtherNames)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.OtherNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.EmergencyContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.EmergencyContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Patient.EmergencyContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Patient.EmergencyContactNumber)
        </dd>

        <h4>Addresses</h4>

        @foreach (var address in Model.Patient.Addresses)
        {
            <dd>
                @Html.DisplayFor(model => address.AddressLine1)
            </dd>
            <dd>
                @Html.DisplayFor(model => address.AddressLine2)
            </dd>
            <dd>
                @Html.DisplayFor(model => address.AddressLine3)
            </dd>
            <dd>
                @Html.DisplayFor(model => address.City)
            </dd>
            <dd>
                @Html.DisplayFor(model => address.PostCode)
            </dd>
        }
        
        <h4>Visits</h4>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { patientId = Model.Patient.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
