@using System.Web.UI.WebControls
@model List<TH.Domain.Other.Visit>

@{
    ViewBag.Title = "Current Patients";
}

<h1>Current On-going Patients</h1>
<hr />

@if (Model.Any())
{ 
    <table class="table" width="100%">
        <tr>
            <th style="width: 200px;">Admitted Date</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Consultants</th>
            <th></th>
        </tr>
        @foreach (var visit in Model)
        {
            <tr>
                <td>@visit.AdmittedDate</td>
                <td>@visit.Patient.FirstName</td>
                <td>@visit.Patient.LastName</td>
                <td>@string.Join(",", visit.Teams.Select(t => t.Consultant.FullName))</td>
                <td>@Html.ActionLink("Options", "Options", "Patient", new { id = visit.Patient.UserId }, null)</td>
            </tr>
        }
    </table>
}
else
{
    @Html.Raw("No patients with open visits")
}