@using TH.Domain.Enums
@using TH.WebSystem.Providers
@model TH.WebSystem.Models.PatientOptionsViewModel

@{
    ViewBag.Title = "Patient Options";
}

<h1>Patient Options</h1>
<hr />

<ul class="menu">
    <li>
        @Html.ActionLink("View Patient Record", "Details", "Patient", new { id = Model.PatientId }, null)
    </li>

    @if (ThemeHospitalMembershipProvider.IsReceptionist && Model.CurrentVisit == null)
    {
        <li>
            @Html.ActionLink("Admit", "Admit", "Patient", new { id = Model.PatientId }, null)
        </li>
    }
    else if (ThemeHospitalMembershipProvider.IsReceptionist && Model.CurrentVisit != null)
    {
        <li>
            @Html.ActionLink("Dismiss", "Dismiss", "Patient", new { id = Model.PatientId }, null)
        </li>
    }
    else
    {
        if (Model.CurrentVisit != null)
        {
            <li>
                @Html.ActionLink("Current Visit", "Details", "Visit", new { id = Model.CurrentVisit.VisitId }, null)
            </li>
        }
        if (Model.CurrentVisit != null && Model.CurrentVisit.Bed == null && ThemeHospitalMembershipProvider.IsReceptionist)
        {
            <li>
                @Html.ActionLink("Assign Patient To Ward", "AssignToWard", "Ward", new { id = Model.PatientId }, null)
            </li>
        }
        if (!ThemeHospitalMembershipProvider.IsReceptionist && Model.CurrentVisit != null)
        {
            <li>
                @Html.ActionLink("Arrange Treatment For Patient", "Create", "Treatment", new { id = Model.CurrentVisit.VisitId }, null)
            </li>
        }
        <li>
            @Html.ActionLink("Record Refusal Of Treatment", "RecordRefusal", "Patient", new { id = Model.PatientId }, null)
        </li>
    }
</ul>


















