@using TH.Domain.Other
@model TH.WebSystem.Models.PatientOptionsViewModel

<h2>Patient Options</h2>

<ul class="menu">
    
    <li>
        @Html.ActionLink("View Patient Record", "Details", "Patient")
    </li>
    <li>
        @Html.ActionLink("Add Notes To Record", "Details", "Patient")
    </li>

    @if (Model.CurrentVisit == null)
    {
        <li>
            @Html.ActionLink("Admit", "Admit", "Patient", new { id = Model.PatientId }, null)
        </li>
    }
    else
    {
        if (Model.CurrentVisit.Bed == null)
        {
            <li>
                @Html.ActionLink("Assign Patient To Ward", "DisplayWards", "Patient", new { patientId = Model.PatientId }, null)
            </li>
        }
        <li>
            @Html.ActionLink("Assign Patient To Consultant", "DisplayWards", "Patient")
        </li>
        <li>
            @Html.ActionLink("Arrange Treatment For Patient", "Create", "Treatment", new { id = Model.CurrentVisit.VisitId }, null)
        </li>
        <li>
            @Html.ActionLink("Record Refusal Of Treatment", "DisplayWards", "Patient")
        </li>
    }

</ul>

