@model TH.WebSystem.Models.PatientTreatmentsModel

@{
    ViewBag.Title = "View Patient Treatments";
}

<h2>View Patient Treatments</h2>

<h4>Open Treatments - @Model.Patient.FullName</h4>
@if (Model.CoursesOfMedicines.Any() || Model.Procedures.Any())
{
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Patient</th>
            <th>Treatment</th>
            <th>Option</th>
        </tr>
        @foreach (var courseOfMedicine in Model.CoursesOfMedicines)
        {
            <tr>
                <td>@courseOfMedicine.ScheduledDate</td>
                <td>@courseOfMedicine.Visit.Patient.FullName</td>
                <td>@courseOfMedicine.Medicine.Name</td>
                <td>
                    @if (courseOfMedicine.Refusal != null)
                    {
                        @Html.Raw("Treatment refused - ")@courseOfMedicine.Refusal.Note.Content
                    }
                    else if (courseOfMedicine.AdministeredBy != null)
                    {
                        @courseOfMedicine.AdministeredBy.FullName
                    }
                    else
                    {
                        @Html.ActionLink("Record Refusal", "RefuseTreatment", "Treatment", new { id = courseOfMedicine.TreatmentId }, null)
                    }
                </td>
            </tr>
        }
        
        @foreach (var procedure in Model.Procedures)
        {
            <tr>
                <td>@procedure.ScheduledDate</td>
                <td>@procedure.Visit.Patient.FullName</td>
                <td>@procedure.Operation.Name</td>
                <td>
                    @if (procedure.Refusal != null)
                    {
                        @Html.Raw("Treatment refused - ")@procedure.Refusal.Note.Content
                    }
                    else if (procedure.AdministeredBy != null)
                    {
                        @procedure.AdministeredBy.FullName
                    }
                    else
                    {
                        @Html.ActionLink("Record Refusal", "RefuseTreatment", "Treatment", new { id = procedure.TreatmentId }, null)
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
  @Html.Raw("No treatments scheduled")
}