@using TH.WebSystem.Providers
@model TH.WebSystem.Models.VisitDetailsViewModel

@{
    ViewBag.Title = "Visit Details";
}

<h1>Visit details</h1>
<hr />

<div class="visit-details">
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Visit.Patient.FullName)</td>
            <td>@Html.DisplayFor(model => model.Visit.Patient.FullName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Visit.AdmittedDate)</td>
            <td>@Html.DisplayFor(model => model.Visit.AdmittedDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Visit.ReleaseDate)</td>
            <td>@Html.DisplayFor(model => model.Visit.ReleaseDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Visit.Bed.Number)</td>
            <td>@Html.DisplayFor(model => model.Visit.Bed.Number)</td>
        </tr>
    </table>

    <h4>Procedures</h4>
    @if (Model.Procedures.Any())
    {
        <table class="table" width="100%">
            <tr>
                <th>Scheduled date</th>
                <th>Name</th>
                <th>Administered by</th>
                <th>Options</th>
            </tr>
            @foreach (var procedure in Model.Procedures.OrderBy(o => o.ScheduledDate))
            {
                <tr>
                    <td style="width:200px">@procedure.ScheduledDate</td>
                    <td>@procedure.Operation.Name</td>
                    <td>
                        @if (procedure.Refusal != null)
                        {
                            @Html.Raw("Treatment refused - ")@procedure.Refusal.Note.Content
                        }
                        else if (procedure.AdministeredBy != null)
                        {
                            @procedure.AdministeredBy.FullName
                        }
                        else
                        {
                            @Html.Raw("Not yet administered")
                        }
                    </td>
                    <td>@Html.ActionLink("View", "Procedure", "Treatment", new { id = procedure.TreatmentId }, null)</td>
                </tr>
            }
        </table>
    }
    else
    {
        @Html.Raw("No procedures for visit. ");
    }
    
    @if (!ThemeHospitalMembershipProvider.IsReceptionist && !Model.Visit.ReleaseDate.HasValue)
    {
        <br />
        <button>
            @Html.ActionLink("Create new procedure", "Create", "Treatment", new { id = Model.Visit.VisitId }, null)
        </button>
    }

    <h4>Course of medicines</h4>
    @if (Model.CourseOfMedicines.Any())
    {
        <table class="table" width="100%">
            <tr>
                <th>Scheduled date</th>
                <th>Name</th>
                <th>Administered by</th>
                <th>Options</th>
            </tr>
            @foreach (var courseOfMedicines in Model.CourseOfMedicines.OrderBy(o => o.ScheduledDate))
            {
                <tr>
                    <td style="width:200px">@courseOfMedicines.ScheduledDate</td>
                    <td>@courseOfMedicines.Medicine.Name</td>
                    <td>
                        @if (courseOfMedicines.Refusal != null)
                        {
                            @Html.Raw("Treatment refused - ")@courseOfMedicines.Refusal.Note.Content
                        }
                        else if (courseOfMedicines.AdministeredBy != null)
                        {
                            @courseOfMedicines.AdministeredBy.FullName
                        }
                        else
                        {
                            @Html.Raw("Not yet administered")
                        }
                    </td>
                    <td>@Html.ActionLink("View", "CourseOfMedicine", "Treatment", new { id = courseOfMedicines.TreatmentId }, null)</td>
                </tr>
            }
        </table>
    }
    else
    {
        @Html.Raw("No course of medicines for visit. ");
    }
    @if (!ThemeHospitalMembershipProvider.IsReceptionist && !Model.Visit.ReleaseDate.HasValue)
    { 
        <br />
        <button>@Html.ActionLink("Create new medicine course", "Create", "Treatment", new { id = Model.Visit.VisitId }, null)</button>
    }

    <h4>Notes</h4>
    @if (Model.Visit.Notes.Count > 0)
    {
        <table class="table" width="100%">
            <tr>
                <th>Date created</th>
                <th>Content</th>
            </tr>
            @foreach (var note in Model.Visit.Notes)
            {
                <tr>
                    <td style="width:200px">@Html.DisplayFor(model => note.DateCreated)</td>
                    <td>@Html.DisplayFor(model => note.Content)</td>
                </tr>
            }
        </table>
    }
    else
    {
        @Html.Raw("No notes for visit. ");
    }
    <br />
    <button>@Html.ActionLink("Create new note", "CreateNote", new { id = Model.Visit.VisitId })</button>
</div>