@using System.Web.Optimization
@using TH.WebSystem.Providers

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Theme Hospital</title>

        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            Theme Hospital
            @if (ThemeHospitalMembershipProvider.IsLoggedIn())
            {
                @Html.Raw(string.Format(" - Welcome {0}", @ThemeHospitalMembershipProvider.GetCurrentUser().Firstname))

                <div class="navigation">
                    @Html.Partial("_DashboardLink")
                    @Html.ActionLink("Log out", "Logout", "Home", null, new { @class = "log-out" })
                </div>
            }

        </header>

        <div class="content">
            @RenderBody()
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Theme Hospital</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
