@using System.Web.Optimization
@using TH.WebSystem.Providers

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Theme Hospital</title>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        @RenderSection("scripts", required: false)
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <h2>
                Theme Hospital
                @if (ThemeHospitalMembershipProvider.IsLoggedIn())
                {
                    @Html.Raw(string.Format(" - Welcome {0}", @ThemeHospitalMembershipProvider.GetCurrentUser().FirstName))

                    <div class="navigation">
                        @Html.Partial("_DashboardLink")
                        @Html.ActionLink("Log out", "Logout", "Home", null, new { @class = "log-out" })
                    </div>
                }
            </h2>
        </header>

        <div class="content">
            @RenderBody()
        </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Theme Hospital</p>
        </footer>
    </body>
</html>
