@using TH.Domain.Enums
@using TH.WebSystem.Providers
@model TH.WebSystem.Models.ProcedureViewModel
           
@{
    ViewBag.Title = "Course of Medicine details";
}

<h1>Procedure details</h1>
<hr />

<table>
    <tr>
        <td>@Html.LabelFor(model => model.Procedure.ScheduledDate)</td>
        <td>@Html.DisplayFor(model => model.Procedure.ScheduledDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Procedure.Operation.Name)</td>
        <td>@Html.DisplayFor(model => model.Procedure.Operation.Name)</td>
    </tr>
    <tr>
        <td>Recorded by</td>
        <td>@Html.DisplayFor(model => model.RecordedBy.FullName)</td>
    </tr>
    <tr>
        <td>Assigned to</td>
        <td>@Html.DisplayFor(model => model.AssignedTo.FullName)</td>
    </tr>
    <tr>
        <td>Administored by</td>
        <td>
            @if (Model.AdministeredBy != null)
            {@Html.DisplayFor(model => model.AdministeredBy.FullName)}
            else if (Model.Procedure.Refusal != null)
            {@Html.Raw("Treatment refused")}
            else
            {@Html.Raw("Not yet administered")}
        </td>
    </tr>
    <tr>
        <td>Date Administored</td>
        <td>
            @if (Model.AdministeredBy != null)
            {@Html.DisplayFor(model => model.Procedure.DateAdministered)}
            else if (Model.Procedure.Refusal != null)
            {@Html.Raw("Treatment refused")}
            else
            {@Html.Raw("Not yet administered")}
        </td>
    </tr>
</table>

@if (!Model.Procedure.Visit.ReleaseDate.HasValue && Model.AdministeredBy == null && Model.Procedure.Refusal == null)
{
    if (!ThemeHospitalMembershipProvider.IsReceptionist)
    {
        using (Html.BeginForm("AdministorProcedure", "Treatment", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.TreatmentId)

            @Html.Raw("Administered by")
            @Html.DropDownListFor(model => model.AdministeredByUserId, new SelectList(Model.MedicalStaff, "UserId", "FullName", null))
            <br />
            <input type="submit" value="Administor treatment" class="button">
        }
    }

    <button>
        @Html.ActionLink("Record refusal of treatment", "RefuseTreatment", "Treatment", new { id = Model.TreatmentId }, null)
    </button>
}

<h4>Notes</h4>
@if (Model.Procedure.Notes.Count > 0)
{
    <table class="table" width="100%">
        <tr>
            <th>Date created</th>
            <th>Content</th>
        </tr>
        @foreach (var note in Model.Procedure.Notes)
        {
            <tr>
                <td style="width:180px">@Html.DisplayFor(model => note.DateCreated)</td>
                <td>@Html.DisplayFor(model => note.Content)</td>
            </tr>
        }
    </table>
}
else
{
    @Html.Raw("No notes for treatment.");
}
<br />
<button>@Html.ActionLink("Create new note", "CreateNote", new { id = Model.Procedure.TreatmentId })</button>